<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    
  </head>
  <body ng-app="directoryApp">
    <div class="container">
      <div class="row">
        <h1>UF Directory App</h1>
      </div>
      <div class="row" ng-controller="ListingsController">
        <div class="col-md-6">
          <div class="input-group" id="searchBar">
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search" ng-model="query">
          </div>
          <div class="tableWrapper">
            <table id="table" table class="table order-table table-striped table-bordered table-hover table-condensed">
              <tr>
                <th>Code</th>
                <th>Building Name</th>
                <th>  </th>
              </tr>
              <tr ng-repeat="listing in listings | filter: query" ng-click="showDetails($index)">
                <td>{{listing.code}}</td>
                <td>{{listing.name}}</td>
                <td><button ng-click="deleteListing($index)">X</button></td>
              </tr> 
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <div class="jumbotron">
            <h2>Detailed Information</h2> 
            <div> 
              <p> Code: {{ detailedInfo.code }}</p>
              <p> Name: {{ detailedInfo.name }}</p>
              <p> Coordinates: (Latitude: {{ detailedInfo.coordinates.latitude }}, Longitude: {{detailedInfo.coordinates.latitude }})</p>
              <p> Address: {{ detailedInfo.address }}</p>
            </div>
          </div>
            <form name="newListing">
              <h2>Add New Listing</h2>
              <p>Code: <input type="code" name="code" ng-model="newCode"></p>
              <p>Name: <input type="name" name="name" ng-model="newName"></p>
              <p>Coordinates: ( Latitude: <input type="coordinates.latitude" name="coordinates.latitude" ng-model="newCoordinatesLat">, 
                                Longitude: <input type="coordinates.longitude" name="coordinates.longitude" ng-model="newCoordinatesLong">)</p>
              <p>Address: <input type="address" name="address" ng-model="newAddress"></p>
              <button ng-click="addListing()">Add</button>
            </form> 
          </div>
        </div>
      </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
    
    <script language="javascript" type="text/javascript">
    setFilterGrid("table");
    </script>
    
  </body>
</html>